<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Order Detail</title>
<meta name="description" content="Morden Bootstrap HTML5 Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon"
	href="/assets/img/favicon.ico">

<!-- ======= All CSS Plugins here ======== -->
<link rel="stylesheet" href="/assets/css/plugins/swiper-bundle.min.css">
<link rel="stylesheet" href="/assets/css/plugins/glightbox.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
	integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd"
	crossorigin="anonymous">
<link
	href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap"
	rel="stylesheet">

<!-- Plugin css -->
<link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">

<!-- Custom Style CSS -->
<link rel="stylesheet" href="/assets/css/user/style.css">
</head>

<body>



	<!-- Start header area -->

	<!-- End header area -->

	<main class="main__content_wrapper">
		<section class="my__account--section section--padding">
			<div class="container">
				<p class="account__welcome--text"></p>
				<div class="my__account--section__inner border-radius-10 d-flex">
					<div class="account__left--sidebar">
						<h2 class="account__content--title mb-20">My Profile</h2>
						<ul class="account__menu">
							<li class="account__menu--list active"><a
								href="my-account.html">Dashboard</a></li>
							<li class="account__menu--list"><a href="my-account-2.html">Addresses</a></li>
							<li class="account__menu--list"><a href="wishlist.html">Wishlist</a></li>
							<li class="account__menu--list"><a href="changepass.html">Change
									password</a></li>
							<li class="account__menu--list"><a href="login.html">Log
									Out</a></li>
						</ul>
					</div>
					<div class="account__wrapper">
						<div class="account__content">
							<h2 class="account__content--title h3 mb-20">Lịch sử đơn
								hàng</h2>
							<div class="account__table--area">
								<table class="account__table">
									<thead class="account__table--header">
										<tr class="account__table--header__child">
											<th class="account__table--header__child--items">Mã đơn
												hàng</th>
											<th class="account__table--header__child--items">Ngày
												đặt hàng</th>
												
											<th class="account__table--header__child--items">Người đặt hàng</th>	
											<th class="account__table--header__child--items">Giá tiền</th>
											<th class="account__table--header__child--items">Số lượng</th>
											<th class="account__table--header__child--items">Tổng
												tiền thanh toán</th>
										</tr>
									</thead>
									<tbody class="account__table--body mobile__none">
										<tr class="account__table--body__child" th:each="orderdetail : ${orderDetails}">
											<td class="account__table--body__child--items" th:text="${orderdetail.orderId}">#4566</td>
											<td class="account__table--body__child--items" th:text="${orderdetail.orders.orderDate}">24-12-2023</td>
											<td class="account__table--body__child--items" th:text="${orderdetail.orders.users.fullName}">24-12-2023</td>
											<td class="account__table--body__child--items" th:text="${orderdetail.amount}">Đã thanh
												toán</td>
											<td class="account__table--body__child--items" th:text="${orderdetail.quantity}">Đã giao
												hàng</td>
											<td class="account__table--body__child--items"  th:text="${orderdetail.amount} *  ${orderdetail.quantity}">870.000
												VND</td>
											<td class="account__table--body__child--items"><svg
													xmlns="http://www.w3.org/2000/svg" width="16" height="16"
													fill="currentColor" class="bi bi-zoom-in"
													viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
														d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                            <path
														d="M10.344 11.742c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1 6.538 6.538 0 0 1-1.398 1.4z" />
                                            <path fill-rule="evenodd"
														d="M6.5 3a.5.5 0 0 1 .5.5V6h2.5a.5.5 0 0 1 0 1H7v2.5a.5.5 0 0 1-1 0V7H3.5a.5.5 0 0 1 0-1H6V3.5a.5.5 0 0 1 .5-.5z" />
                                          </svg></td>
										</tr>




									</tbody>

								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- <section class="h-100 gradient-custom">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-10 col-xl-8">
                  <div class="card" style="border-radius: 10px;">
                    <div class="card-header px-4 py-5">
                      <h5 class="text-muted mb-0">Cám ơn bạn đã đặt hàng <span style="color: #a8729a;"></span>!</h5>
                    </div>
                    <div class="card-body p-4">
                        <div class="card shadow-0 border mb-4">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-2">
                                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/1.webp"
                                    class="img-fluid" alt="Phone">
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0">iPad</p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small">Pink rose</p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small">Thông số: 32GB</p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small">Số lượng: 1</p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small">39.999.999 VNĐ</p>
                                </div>
                              </div>
                             
                              
                            </div>
                          </div>
                      <div class="card shadow-0 border mb-4">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-2">
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/1.webp"
                                class="img-fluid" alt="Phone">
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0">iPad</p>
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0 small">Pink rose</p>
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0 small">Thông số: 32GB</p>
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0 small">Số lượng: 1</p>
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0 small">39.999.999 VNĐ</p>
                            </div>
                          </div>
                         
                          
                        </div>
                      </div>
          
                      <div class="d-flex justify-content-between pt-2">
                        <p class="fw-bold mb-0">Chi tiết đơn hàng</p>
                        <p class="text-muted mb-0"><span class="fw-bold me-4">Tổng tiền</span> 870.000 VNĐ</p>
                        <p class="text-muted mb-0"><span class="fw-bold me-4">Phí giao hàng:</span> Miễn phí</p>
                      </div>
          
                      <div class="d-flex justify-content-between pt-2">
                        <p class="text-muted mb-0">Mã đơn hàng : #4566</p>
                        
                      </div>
          
                      <div class="d-flex justify-content-between">
                        <p class="text-muted mb-0">Ngày đặt hàng : 22 Dec,2019</p>
                      
                      </div>
          
                     
                    </div>
                    <div class="card-footer border-0 px-4 py-5"
                      style="background-color: #a8729a; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                      <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Tổng tiền thanh toán: <span class="h2 mb-0 ms-2">870.000 VNĐ</span></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section> -->


		<!-- my account section end -->

		<!-- Start shipping section -->
		<section class="shipping__section">
			<div class="container">
				<div class="shipping__inner style2 d-flex">
					<div class="shipping__items style2 d-flex align-items-center">
						<div class="shipping__icon">
							<img src="/assets/img/other/shipping1.webp" alt="icon-img">
						</div>
						<div class="shipping__content">
							<h2 class="shipping__content--title h3">Giao hàng miễn phí</h2>
							<p class="shipping__content--desc">Miễn phí giao hàng</p>
						</div>
					</div>
					<div class="shipping__items style2 d-flex align-items-center">
						<div class="shipping__icon">
							<img src="/assets/img/other/shipping2.webp" alt="icon-img">
						</div>
						<div class="shipping__content">
							<h2 class="shipping__content--title h3">Hỗ trợ 24/7</h2>
							<p class="shipping__content--desc">Hỗ trợ miễn phí 24/7</p>
						</div>
					</div>
					<div class="shipping__items style2 d-flex align-items-center">
						<div class="shipping__icon">
							<img src="/assets/img/other/shipping3.webp" alt="icon-img">
						</div>
						<div class="shipping__content">
							<h2 class="shipping__content--title h3">Hoàn trả</h2>
							<p class="shipping__content--desc">Hoàn trả hàng trong 30
								ngày</p>
						</div>
					</div>
					<div class="shipping__items style2 d-flex align-items-center">
						<div class="shipping__icon">
							<img src="/assets/img/other/shipping4.webp" alt="icon-img">
						</div>
						<div class="shipping__content">
							<h2 class="shipping__content--title h3">Bảo mật thanh toán</h2>
							<p class="shipping__content--desc">Thanh toán bảo mật</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End shipping section -->

	</main>

	<!-- Start footer section -->

	<!-- End footer section -->

	<!-- Scroll top bar -->
	<button id="scroll__top">
		<svg xmlns="http://www.w3.org/2000/svg" class="ionicon"
			viewBox="0 0 512 512">
			<path fill="none" stroke="currentColor" stroke-linecap="round"
				stroke-linejoin="round" stroke-width="48"
				d="M112 244l144-144 144 144M256 120v292" /></svg>
	</button>

	<!-- All Script JS Plugins here  -->
	<script src="/assets/js/vendor/popper.js" defer="defer"></script>
	<script src="/assets/js/vendor/bootstrap.min.js" defer="defer"></script>
	<script src="/assets/js/plugins/swiper-bundle.min.js"></script>
	<script src="/assets/js/plugins/glightbox.min.js"></script>

	<!-- Customscript js -->
	<script src="/assets/js/script.js"></script>

</body>
</html>